<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<style>
    body {
        margin: 0;
        /*background-image: url("https://i.ibb.co/cT4dWLL/Background-WWW.png");*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-attachment: fixed;*/
    }

    p, h5 {
        text-align: justify;
        margin: 0;
        padding: 0;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/index}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-3 text-lg-end align-items-center">
                    <!-- Kiểm tra trạng thái đăng nhập -->
                    <li class="nav-item" th:if="${session.user != null}">
                        <span class="navbar-text" th:text="${session.user.email}">User Email</span>
                    </li>
                    <li class="nav-item" th:if="${session.user != null}">
                        <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                    </li>
                    <!-- Hiển thị nút đăng nhập nếu chưa đăng nhập -->
                    <li class="nav-item" th:if="${session.user == null}">
                        <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" th:if="${session.user == null}">
                        <a class="nav-link" href="#" th:href="@{/register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" style="width: 500px; padding-top: 30px">
    <div class="row">
        <form action="/post" method="post">
            <div class="mb-3">
                <input type="hidden" name="userId" th:value="${session.user.id}">
                <label for="content" class="form-label py-2"><strong>What are you thinking?</strong></label>
                <textarea class="form-control" id="content" name="content" rows="2" placeholder="Write what you think!" required></textarea>
            </div>
            <button type="submit" name="post" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>

<h1 class="text-center pt-4 pb-3">All recent posts</h1>
<div class="container" th:each="post, iSat : ${posts}">
    <div class="container border mb-5" style="height: fit-content; width: 500px">
        <div class="py-3">
            <div class="d-flex gap-3 align-items-center pb-2">
                <div style="width: 50px; height: 50px; background-color: orange; border-radius: 25px"></div>
                <div>
                    <h5 th:text="${post.author.lastName+' '+post.author.middleName+' '+post.author.firstName}"></h5>
                    <p style="font-size: 12px; opacity: 0.5" class="pt-1"
                       th:text="${'Posted on: ' + post.publishedAt}"></p>
                </div>
            </div>
            <div>
                <p th:text="${post.content}"></p>
            </div>
        </div>
        <div class="d-flex justify-content-between border-top py-3">
            <button class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    th:data-bs-target="'#commentsModal' + ${post.id}">Comment
            </button>
        </div>
    </div>


    <div class="modal fade" th:id="'commentsModal' + ${post.id}" tabindex="-1"
         aria-labelledby="'commentsModalLabel' + ${post.id}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header justify-content-center align-items-center">
                    <h5 class="text-center" th:text="'Post by ' + ${post.author.firstName}"></h5>
                </div>
                <div class="modal-body">
                    <div th:if="${comment.post.id == post.id && comment.parent == null}"
                         th:each="comment : ${comments}"
                         style="padding-bottom: 20px">
                        <div class="comment mb-3">
                            <h6 th:text="${comment.user.lastName+' '+comment.user.middleName+' '+comment.user.firstName}"></h6>
                            <p th:text="${comment.content}"></p>
                            <small class="text-muted" th:text="${comment.publishedAt}"></small>
                            <div th:each="commentReply : ${comments}" th:if="${commentReply.parent == comment}">
                                <div style="margin-left: 30px; padding-top: 10px">
                                    <h6 th:text="${commentReply.user.lastName+' '+commentReply.user.middleName+' '+commentReply.user.firstName}"></h6>
                                    <p th:text="${commentReply.content}"></p>
                                    <small class="text-muted" th:text="${commentReply.publishedAt}"></small>
                                </div>
                            </div>
                        </div>
                        <form action="/reply" method="post">
                            <input type="hidden" name="commentId" th:value="${comment.id}">
                            <input type="hidden" name="postId" th:value="${post.id}">
                            <input type="hidden" name="userId" th:value="${session.user.getId()}">
                            <input type="text" class="border p-1 rounded-3 w-75" style="margin-left: 20px"
                                   id="commentReply" name="commentReply" placeholder="Enter your comment..">
                            <button type="submit" class="btn btn-secondary" name="reply">Reply</button>
                        </form>
                    </div>
                    <p th:if="${#lists.isEmpty(comments)}">No comments available.</p>
                </div>
                <form action="/comment" method="post">
                    <div class="modal-footer d-flex justify-content-center align-items-center">
                        <input type="hidden" name="postId" th:value="${post.id}">
                        <input type="hidden" name="userId" th:value="${session.user.getId()}">
                        <input type="text" class="border p-2 rounded-3 w-75" id="comment" name="comment"
                               placeholder="Enter your comment..">
                        <button type="submit" class="btn btn-secondary" name="comment">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>